.site-header{
    background-color: #FFF;
    box-shadow: 0px 25px 40px 0px rgba(0, 0, 0, 0.03);
    padding: 12px 0;
}


.header-inner {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

.header-profile-wrap {
    display: flex;
    align-items: center;
    gap: 40px;
    position: relative;
}

.user-btn {
    display: flex;
    align-items: center;
    padding: 4px 4px 4px 20px;
    gap: 24px;
    border-radius: 6px;
    background: #F1F1F3;
    outline: none;
    border: 1px solid transparent;
}

.header-user {
    margin: 0;
    color:  #28293D;
    text-align: right;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; 
    letter-spacing: -0.35px;
}

.exit-btn {
    padding: 0;
    width: 32px;
    height: 32px;
}