.pagination {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: -45px;
}

.pagination li {
    width: 32px;
    height: 32px;
    border: 1px solid #DFE3E8;
    border-radius: 4px;
    padding: 6px 8px;
}

.pagination a {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #1D1D1F;
}


::placeholder {
    font-size: 15px;
    line-height: 17.78px;
    color: #2E384D;
}
