<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagination</title>
    <link rel="stylesheet" href="./pagination.css">
    <link rel="stylesheet" href="./../../css/main.css">
</head>
<body>
   
    <ul class="pagination" id="pagination">
        <li class="pagination-list">
            <a href="#" id="prev">
                <img src="./../../images/pag-icon-left.svg" alt="">
            </a>
        </li>
        <li><a href="#" class="page-link">1</a></li>
        <li><a href="#" id="next">
            <img src="./../../images/pag-icon-right.svg" alt="">
        </a></li>
    </ul>
    <script src="./pagination.js"></script>
</body>
</html>