.sponsor-info {
    padding: 30px 0;
    background:#fefefee4;
    margin-bottom: 40px;
}

main {
    flex-grow: 1;
}

.one-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}

.btn-exit {
    background-color: transparent;
    border: 1px solid transparent;
    outline: none;
    width: 28px;
    height: 28px;
}

.sponsor-card-wrap {
    display: flex;
    flex-direction: column;
    gap: 20pxx;
    margin-bottom: 194px;
}

.sponsor-name {
    margin: 0;
    color:  #28293D;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
}

.footer-inner {
   position: fixed;
   bottom: 5px;
   right: 430px;
}