<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./tab.css">
    <link rel="stylesheet" href="./../../css/main.css">
</head>
<body>
    
    <div class="tab">
        <ul class="tab-list">
            <li class="tab-item">
                <a class="tab-link" href="#">
                    JISMONIY SHAXS
                </a>
            </li>
            <li class="tab-item">
                <a class="tab-link" href="#">
                    YURIDIK SHAXS
                </a>
            </li>
        </ul>
    </div>

    <script src="./tab.js"></script>
</body>
</html>