

.pag-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.pag-title {
    margin-bottom: 50px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}


@media screen and (max-width:500px) {
    .pag-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        gap: 10px;
    }
}