.student-btn-wrap {
    position: relative;
}

.student-btn {
    max-width: 198px;
    width: 100%;
    position: absolute;
    top: 24px;
    right: 20px;
}

.student-info {
    margin-top: 46px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 8;
    opacity: 0.50;
    background: #000;
    flex-shrink: 0;
}

.type-student {
    margin-left: 160px;
    width: 115px;
}

.student-name {
    width: 230px;
}

.study-type {
    margin-left: -20px;
}

.university-name {
   width: 200px;
}

.university {
   width: 200px;
}

.student-homiy {
    width: 132px;
    margin-right: 50px;
}