.student-btn-wrapper {
  display: flex;
  gap: 16px;
  align-items: center;
}

.single-student-info {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.sponsor-add-btn {
  max-width: 197px;
  width: 100%;
}

.main-info-box {
  max-width: 180px;
  width: 100%;
  padding: 2px 11px;
  background: #e5ebff;
  margin-bottom: 26.5px;
  display: flex;
  align-items: center;
}

.main-study-box {
  margin-top: 34.5px;
  max-width: 250px;
  width: 100%;
  padding: 2px 11px;
  background: #e5ebff;
  margin-bottom: 26.5px;
  display: flex;
  align-items: center;
}

.main-info-text {
  margin: 0;
  color: #36f;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1.125px;
  text-transform: uppercase;
  position: relative;
  z-index: 3;
}

.sponsor-card-info {
  display: flex;
  align-items: center;
  gap: 62px;
  margin-bottom: 24px;
}

.student-univer-degree {
  color: #2e384d;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px; /* 157.143% */
  margin-right: 110px;
}

.id-sponsor {
    width: 9px;
}

.action-sponsor {
    
    text-align: center;
}

.name-sponsor {
width: 250px;
text-align: right;
}

@media screen and (max-width: 602px) {
  .sponsor-card-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .footer {
    display: none;
  }

  .sponsor-card-title {
    font-size: 20px;
  }

  .sponsor-card-info {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
}

@media screen and (max-width: 400px) {
  .sponsor-card-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .sponsor-title {
    font-size: 18px;
  }
}

.table-page {
  overflow-x: auto;
  max-width: 726;
  width: 100%;
}

.usage-sponsor {
    width: 250px;
    text-align: center;
}

.sponsor-cards {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  min-width: 726px;
  width: 100%;
  gap: 33px;
  margin-top: 50px;
  padding: 0 16px 0 16px;
  position: relative;
  white-space: nowrap;
}

.sponsor-add-card {
  display: flex;
  align-items: center;
  padding: 22px 48px 22px 16px;
  border-radius: 8px;
  margin: 0;
  min-width: 726px;
  width: 100%;
  border: 1px solid rgba(46, 91, 255, 0.08);
  background: #fff;
  margin-bottom: 12px;
  gap: 33px;
  white-space: nowrap;
  text-align: center;
}

.info-sponsor {
  color: #b1b1b8;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1.125px;
  text-transform: uppercase;
}

.card-info {
  margin: 0;
  color: #1d1d1f;
  font-size: 15px;
  font-weight: 500;
}
