<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dropdown</title>
    <link rel="stylesheet" href="./dropdown.css">
    <link rel="stylesheet" href="../../../css/main.css">
</head>
<body>
    
    
    <div class="wrap">
        <div class="dropdown">
            <div class="menu">
                <span class="menu-text">Barchasi</span>
                <button class="btn-dropdown">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                        <path d="M15.8521 7.60181C16.2101 7.24383 16.7905 7.24383 17.1485 7.60181C17.5065 7.95979 17.5065 8.54019 17.1485 8.89817L11.6485 14.3982C11.3015 14.7452 10.7427 14.7573 10.3809 14.4257L4.88091 9.38405C4.50772 9.04195 4.48251 8.4621 4.8246 8.08891C5.16669 7.71572 5.74655 7.6905 6.11974 8.0326L10.9728 12.4812L15.8521 7.60181Z" fill="#B5B5C3"/>
                      </svg>
                </button>
            </div>
            <ul class="options">
                <li class="option">Barchasi</li>
                <li class="option">Moderatsiyada</li>
                <li class="option">Yangi</li>
                <li class="option">Tasdiqlangan</li>
                <li class="option">Bekor qilingan</li>
            </ul>
        </div>
    </div>
    <script  src="./dropdown.js"></script>
</body>
</html>