.wrap {
    margin: 30px;
}

.btn-dropdown {
    background-color: transparent;
    border: 1px solid transparent;
    outline: none;
}

.dropdown {
    display: flex;
    flex-direction: column;
    gap: 4px;
    max-width: 530px;
    width: 100%;
    cursor: pointer;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 16px 10px 10px;
    border-radius: 6px;
    border: 1px solid #E0E7FF;
    background: rgba(224, 231, 255, 0.20);
}

.menu:hover {
    border: 1px solid #2E5BFF;
    background-color:  #F9FAFF;
}

.menu:hover svg{
    fill: #3366FF;
}

.menu-text {
    margin: 0;
    color: #2E384D;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.options {
    border-radius: 8px;
    border: 1px solid #E0E7FF;
    background: #FFF;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.08);
    display: none;
}

.option {
    position: relative;
    padding: 12px 16px;
    color: #2E384D;
    font-size: 14px;
    font-weight: 400;
}

.btn-dropdown.rotate {
    transform: rotateX(-180deg);
}

.option::after {
    position: absolute;
    display: inline-block;
    max-width: 530px;
    width: 100%;
    height: 1px;
    background: #E0E7FF;
    content: "";
    top: 43px;
    left: 0;
}

.option:last-child::after {
    display: none;
}

.hidden {
    display: none;
}