

.sponsor-card {
  position: relative;
  z-index: 5;
  max-width: 793px;
  width: 100%;
  margin: 0 auto;
  border-radius: 12px;
  border: 1px solid #ebeefc;
  background: #fff;
  box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.03);
  padding: 32px;
}

.sponsor-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

.sponsor-card-title {
  margin: 0;
  color: #28293d;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.sponsor-card-body {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 24px;
}

.card-subtitle-wrapper {
  max-width: 163px;
  width: 100%;
}

.sponsor-card-subtitle {
  margin: 0;
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  line-height: 130%; /* 20.8px */
  letter-spacing: -0.16px;
}

.sponsor-card-footer {
  display: flex;
  align-items: center;
  gap: 227px;
}

.sponsor-tel,
.sponsor-amount {
  margin: 0;
  color: #b5b5c3;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1.125px;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.sponsor-money,
.sponsor-number {
  margin: 0;
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  line-height: 130%; /* 20.8px */
  letter-spacing: -0.16px;
}
