<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Header</title>
    <link rel="stylesheet" href="./header.css">
    <link rel="stylesheet" href="./../../css/main.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header-inner">
                <a href="./../../index.html">
                    <img class="header-logo" src="./../../images/logo1.svg" alt="Site logo"
                    width="295"
                    height="31">
                </a>

                <nav class="nav">
                    <ul class="nav-list">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Asosiy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Grantlar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Soliq imtiyozlari</a>
                        </li>
                        <li class="nav-item">
                            <button class="enter-btn">
                                <img src="./../../images/iconenter.svg" alt="Enter Icon">
                                Kirish
                            </button>
                        </li>
                        <li class="nav-item">
                           <button class="sign-up">Ro'yhatdan o'tish</button>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

</body>
</html>