<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Radio</title>
    <link rel="stylesheet" href="./radio.css">
    <link rel="stylesheet" href="../../../css/main.css">
</head>
<body>
   
    <h3 class="price-heading">To'lov summasi</h3>
    <div class="price-button">

    <label class="price-label active-link" for="price1" >
        <input class="radio" type="radio" value="price1" name="button" id="price1">
        <p  class="radio-amount">1 000 000 <span>UZS</span></p>
    </label>

    <label class="price-label " for="price2" >
        <input class="radio" type="radio" value="price2" name="button" id="price2">
        <p  class="radio-amount">5 000 000 <span>UZS</span></p>
    </label>

    <label class="price-label" for="price3" >
        <input class="radio" type="radio" value="price3" name="button" id="price3">
        <p  class="radio-amount">7 000 000 <span>UZS</span></p>
    </label>

    <label class="price-label" for="price4" >
        <input class="radio" type="radio" value="price4" name="button" id="price4">
        <p  class="radio-amount">10 000 000 <span>UZS</span></p>
    </label>

    <label class="price-label" for="price5" >
        <input class="radio" type="radio" value="price5" name="button" id="price5">
        <p  class="radio-amount">30 000 000 <span>UZS</span></p>
    </label>

    <label class="price-label" for="price6" >
        <input class="radio" type="radio" value="price6" name="button" id="price6">
        <p  class="radio-amount">BOSHQA</p>
    </label>

   </div>
</body>
</html>