<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Status Button</title>
    <link rel="stylesheet" href="../button/button.css">
    <link rel="stylesheet" href="./status.css">
    <link rel="stylesheet" href="../../css/main.css">
</head>
<body>
    <button class="btn btn-check">Tasdiqlangan</button>
    <button class="btn btn-moderazition">Moderatsiyada</button>
    <button class="btn btn-canceled">Bekor qilingan</button>
    <button class="btn btn-new">Yangi</button>
</body>
</html>