<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modal</title>
    <link rel="stylesheet" href="../form/input/input.css">
    <link rel="stylesheet" href="../button/button.css">
    <link rel="stylesheet" href="./modal.css">
    <link rel="stylesheet" href="../form/dropdown/dropdown.css">
    <link rel="stylesheet" href="../../css/main.css">
</head>
<body>
    <!-- Student Filter Modalka -->
    <div class="modal">
        <div class="student-filter hidden">
            <div class="filter-header">
                <h3 class="filter-title">Filter</h3>
                <button class="btn-close">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
                        <path d="M21 7L7 21" stroke="#B2B7C1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M7 7L21 21" stroke="#B2B7C1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>
            </div>
            
            <div class="filter-body">
                <div class="name-box">
                    <label for="type">
                        Talabalik turi
                        <input class="input"
                        type="text" 
                        name="type" 
                        id="type" 
                        placeholder="Bakalavr"
                        autocomplete="off">
                    </label>
                </div> 
                
                <div class="name-box">
                    <label for="university">
                        OTM
                        <input class="input"
                        type="text" 
                        name="university" 
                        id="universiteti" 
                        placeholder="O’zbekiston davlat jahon tillari universiteti"
                        autocomplete="off">
                    </label>
                </div> 
            </div>
            
            <div class="filter-footer">
                <button class="btn btn-secondary disabled">
                    <svg class="btn-svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M19.6454 10.0047C19.3874 9.88994 16.9725 8.8149 16.7137 8.70016C15.4993 8.15956 14.0769 8.70632 13.5371 9.91997L20.8652 13.1813C21.4058 11.9669 20.8591 10.5445 19.6454 10.0047ZM21.4166 2.07743C21.0116 1.89723 20.5811 1.94343 20.4494 2.19063L16.9408 8.8011L19.3081 9.85381L21.9803 2.87138C22.0758 2.60802 21.8217 2.25763 21.4166 2.07743Z" stroke="#3366FF" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M19.6772 14.2178C18.1732 18.7967 16.2264 21.167 16.2264 21.167C16.2264 21.167 9.52132 20.9237 5.17188 15.5546C6.06979 15.6186 11.6675 15.1373 13.5958 11.4185" stroke="#3366FF" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M7.77051 18.0255C7.77051 18.0255 9.89439 17.7455 11.0341 16.5549C10.1223 18.2268 9.03653 18.861 9.03653 18.861L7.77051 18.0255ZM10.7646 19.6996C10.7646 19.6996 12.4349 19.7184 15.2765 17.1009C14.2546 19.4312 12.922 20.5622 12.922 20.5622L10.7646 19.6996Z" stroke="#3366FF" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M3.20337 9.04437C3.27136 9.0162 3.34423 9.00171 3.41782 9.00171C3.49142 9.00171 3.56429 9.0162 3.63228 9.04437C3.70027 9.07253 3.76205 9.11381 3.81409 9.16585C3.86612 9.21788 3.9074 9.27966 3.93557 9.34765C3.96373 9.41564 3.97822 9.48852 3.97822 9.56211C3.97822 9.6357 3.96373 9.70858 3.93557 9.77657C3.9074 9.84456 3.86612 9.90634 3.81409 9.95837C3.76205 10.0104 3.70027 10.0517 3.63228 10.0799C3.56429 10.108 3.49142 10.1225 3.41782 10.1225C3.34423 10.1225 3.27136 10.108 3.20337 10.0799C3.13538 10.0517 3.0736 10.0104 3.02156 9.95837C2.96952 9.90634 2.92824 9.84456 2.90008 9.77657C2.87192 9.70858 2.85742 9.6357 2.85742 9.56211C2.85742 9.48852 2.87192 9.41564 2.90008 9.34765C2.92824 9.27966 2.96952 9.21788 3.02156 9.16585C3.0736 9.11381 3.13538 9.07253 3.20337 9.04437Z" fill="#3366FF"/>
                        <path d="M4.83485 9.48473C4.90491 9.41467 4.99994 9.37531 5.09903 9.37531C5.19811 9.37531 5.29314 9.41467 5.3632 9.48473C5.43327 9.5548 5.47263 9.64983 5.47263 9.74891C5.47263 9.848 5.43327 9.94302 5.3632 10.0131C5.29314 10.0831 5.19811 10.1225 5.09903 10.1225C4.99994 10.1225 4.90491 10.0831 4.83485 10.0131C4.76479 9.94302 4.72543 9.848 4.72543 9.74891C4.72543 9.64983 4.76479 9.5548 4.83485 9.48473Z" fill="#3366FF"/>
                        <path d="M4.25179 11.1433C4.42695 10.9681 4.66451 10.8697 4.91223 10.8697C5.15994 10.8697 5.39751 10.9681 5.57266 11.1433C5.74782 11.3184 5.84623 11.556 5.84623 11.8037C5.84623 12.0514 5.74782 12.289 5.57266 12.4642C5.39751 12.6393 5.15994 12.7377 4.91223 12.7377C4.66451 12.7377 4.42695 12.6393 4.25179 12.4642C4.07663 12.289 3.97822 12.0514 3.97822 11.8037C3.97822 11.556 4.07663 11.3184 4.25179 11.1433Z" fill="#3366FF"/>
                    </svg>
                    Tozalash
                </button>
                
                <button class="btn btn-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M2 12C2 12 5.63636 4.72729 12 4.72729C18.3636 4.72729 22 12 22 12C22 12 18.3636 19.2727 12 19.2727C5.63636 19.2727 2 12 2 12Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M11.9997 14.7273C13.506 14.7273 14.727 13.5063 14.727 12C14.727 10.4938 13.506 9.27277 11.9997 9.27277C10.4935 9.27277 9.27246 10.4938 9.27246 12C9.27246 13.5063 10.4935 14.7273 11.9997 14.7273Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    Natijalarni ko‘rish
                </button>
            </div>
        </div>
    </div>
    
    <!-- Student Tahrirlash -->
    
    <div class="modal">
        <div class="student-edit  hidden">
            <div class="filter-header">
                <h3 class="filter-title">Tahrirlash</h3>
                <button class="btn-close">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
                        <path d="M21 7L7 21" stroke="#B2B7C1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M7 7L21 21" stroke="#B2B7C1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>
            </div>
            
            <div  class="filter-edit-body">
                
                <div class="name-box">
                    <label for="name">
                        F.I.Sh. (Familiya Ism Sharifingiz)
                        <input class="input"
                        type="text" 
                        name="name" 
                        id="name" 
                        placeholder="Abdullayev Abdulla Abdulla o’g’li"
                        autocomplete="off">
                    </label>
                </div>
                
                <div class="name-box">
                    <label for="tel">
                        Telefon raqam
                        <input class="input"
                        type="tel" 
                        name="tel" 
                        id="tel" 
                        placeholder="+998 00 000-00-00"
                        autocomplete="off">
                    </label>
                </div> 
                
                <div class="name-box">
                    <label for="university">
                        OTM
                        <input class="input"
                        type="text" 
                        name="university" 
                        id="universiteti" 
                        placeholder="O’zbekiston davlat jahon tillari universiteti"
                        autocomplete="off">
                    </label>
                </div> 
                
                <div class="name-box">
                    <label for="amount">
                        Kontrakt summa
                        <input class="input"
                        type="number" 
                        name="amount" 
                        id="amount" 
                        placeholder="Summani kiriting"
                        autocomplete="off">
                    </label>
                </div>
                
            </div>
            
            <div class="filter-edit-footer">
                <button class="btn btn-primary " id="saveBtn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M19 21H5C4.46957 21 3.96086 20.7893 3.58579 20.4142C3.21071 20.0391 3 19.5304 3 19V5C3 4.46957 3.21071 3.96086 3.58579 3.58579C3.96086 3.21071 4.46957 3 5 3H16L21 8V19C21 19.5304 20.7893 20.0391 20.4142 20.4142C20.0391 20.7893 19.5304 21 19 21Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M17 21V13H7V21" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M7 3V8H15" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    Saqlash
                </button>
            </div>
        </div>
    </div>
    
    <!-- HOMIY TAHRIRLASH -->
    
    <div class="modal">
        <div class="student-filter hidden">
            <div class="filter-header">
                <h3 class="filter-title">Homiylarni tahrirlash</h3>
            </div>
            
            <div class="filter-body">
                <div class="name-box">
                    <label for="name">
                        F.I.Sh. (Familiya Ism Sharifingiz)
                        <input class="input"
                        type="text" 
                        name="name" 
                        id="name" 
                        placeholder="Abdullayev Abdulla Abdulla o’g’li"
                        autocomplete="off">
                    </label>
                </div>
                
                <div class="name-box">
                    <label for="amount">
                        Ajratilgan summa
                        <input class="input"
                        type="number" 
                        name="amount" 
                        id="amount" 
                        placeholder="Summani kiriting"
                        autocomplete="off">
                    </label>
                </div>
            </div>
            
            <div class="sponsor-edit-footer">
                <button class="btn btn-delete deleteBtn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M3 6H5H21" stroke="#FF4945" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M8 6V4C8 3.46957 8.21071 2.96086 8.58579 2.58579C8.96086 2.21071 9.46957 2 10 2H14C14.5304 2 15.0391 2.21071 15.4142 2.58579C15.7893 2.96086 16 3.46957 16 4V6M19 6V20C19 20.5304 18.7893 21.0391 18.4142 21.4142C18.0391 21.7893 17.5304 22 17 22H7C6.46957 22 5.96086 21.7893 5.58579 21.4142C5.21071 21.0391 5 20.5304 5 20V6H19Z" stroke="#FF4945" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M10 11V17" stroke="#FF4945" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M14 11V17" stroke="#FF4945" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    Homiyni o‘chirish
                </button>
                
                <button class="btn btn-primary saveBtn" id="saveBtn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M19 21H5C4.46957 21 3.96086 20.7893 3.58579 20.4142C3.21071 20.0391 3 19.5304 3 19V5C3 4.46957 3.21071 3.96086 3.58579 3.58579C3.96086 3.21071 4.46957 3 5 3H16L21 8V19C21 19.5304 20.7893 20.0391 20.4142 20.4142C20.0391 20.7893 19.5304 21 19 21Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M17 21V13H7V21" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M7 3V8H15" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    Saqlash
                </button>
                
            </div>
        </div>
    </div>
    
    <!-- HOMIY QO'SHISH -->
    
    <div class="modal">
        <div class="student-filter hidden">
            <div class="filter-header">
                <h3 class="filter-title">Homiylarni qo'shish</h3>
                <button class="btn-close">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
                        <path d="M21 7L7 21" stroke="#B2B7C1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M7 7L21 21" stroke="#B2B7C1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>
            </div>
            
            <div class="filter-body">
                <div class="name-box">
                    <label for="name">
                        F.I.Sh. (Familiya Ism Sharifingiz)
                        <input class="input"
                        type="text" 
                        name="name" 
                        id="name" 
                        placeholder="Abdullayev Abdulla Abdulla o’g’li"
                        autocomplete="off">
                    </label>
                </div>
                
                <div class="name-box">
                    <label for="amount">
                        Ajratilgan summa
                        <input class="input"
                        type="number" 
                        name="amount" 
                        id="amount" 
                        placeholder="Summani kiriting"
                        autocomplete="off">
                    </label>
                </div>
            </div>
            
            <div class="filter-edit-footer">
                <button class="btn btn-primary" id="addSponsorBtn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M19.9999 11.9999H4.00007" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M12 4V19.9999" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    Qo‘shish
                </button>
            </div>
        </div>
    </div>
    
    <!-- SPONSOR FILTER -->
    
    <div class="modal">
        <div class="student-filter ">
            <div class="filter-header">
                <h3 class="filter-title">Filter</h3>
                <button class="btn-close">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28" fill="none">
                        <path d="M21 7L7 21" stroke="#B2B7C1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M7 7L21 21" stroke="#B2B7C1" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>
            </div>
            
            <div class="filter-sponsor-body">
                
                <div class="name-box">
                    
                    <div class="dropdown">
                        <label style="margin-bottom: 6px;" >Ariza Holati</label>
                        <div class="menu">
                            <span class="menu-text">Barchasi</span>
                            <button class="btn-dropdown">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                                    <path d="M15.8521 7.60181C16.2101 7.24383 16.7905 7.24383 17.1485 7.60181C17.5065 7.95979 17.5065 8.54019 17.1485 8.89817L11.6485 14.3982C11.3015 14.7452 10.7427 14.7573 10.3809 14.4257L4.88091 9.38405C4.50772 9.04195 4.48251 8.4621 4.8246 8.08891C5.16669 7.71572 5.74655 7.6905 6.11974 8.0326L10.9728 12.4812L15.8521 7.60181Z" fill="#B5B5C3"/>
                                </svg>
                            </button>
                        </div>
                        <ul class="options">
                            <li class="option">Barchasi</li>
                            <li class="option">Moderatsiyada</li>
                            <li class="option">Yangi</li>
                            <li class="option">Tasdiqlangan</li>
                            <li class="option">Bekor qilingan</li>
                        </ul>
                    </div>
                </div> 
                
                <div class="name-box modal-date" >
                    <label for="date">
                        Sana
                        <input id="date" name="date" type="date" class="input">
                    </label>
                </div>
            </div>
            
            <div class="filter-footer">
                <button class="btn btn-secondary disabled">
                    <svg class="btn-svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M19.6454 10.0047C19.3874 9.88994 16.9725 8.8149 16.7137 8.70016C15.4993 8.15956 14.0769 8.70632 13.5371 9.91997L20.8652 13.1813C21.4058 11.9669 20.8591 10.5445 19.6454 10.0047ZM21.4166 2.07743C21.0116 1.89723 20.5811 1.94343 20.4494 2.19063L16.9408 8.8011L19.3081 9.85381L21.9803 2.87138C22.0758 2.60802 21.8217 2.25763 21.4166 2.07743Z" stroke="#3366FF" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M19.6772 14.2178C18.1732 18.7967 16.2264 21.167 16.2264 21.167C16.2264 21.167 9.52132 20.9237 5.17188 15.5546C6.06979 15.6186 11.6675 15.1373 13.5958 11.4185" stroke="#3366FF" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M7.77051 18.0255C7.77051 18.0255 9.89439 17.7455 11.0341 16.5549C10.1223 18.2268 9.03653 18.861 9.03653 18.861L7.77051 18.0255ZM10.7646 19.6996C10.7646 19.6996 12.4349 19.7184 15.2765 17.1009C14.2546 19.4312 12.922 20.5622 12.922 20.5622L10.7646 19.6996Z" stroke="#3366FF" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M3.20337 9.04437C3.27136 9.0162 3.34423 9.00171 3.41782 9.00171C3.49142 9.00171 3.56429 9.0162 3.63228 9.04437C3.70027 9.07253 3.76205 9.11381 3.81409 9.16585C3.86612 9.21788 3.9074 9.27966 3.93557 9.34765C3.96373 9.41564 3.97822 9.48852 3.97822 9.56211C3.97822 9.6357 3.96373 9.70858 3.93557 9.77657C3.9074 9.84456 3.86612 9.90634 3.81409 9.95837C3.76205 10.0104 3.70027 10.0517 3.63228 10.0799C3.56429 10.108 3.49142 10.1225 3.41782 10.1225C3.34423 10.1225 3.27136 10.108 3.20337 10.0799C3.13538 10.0517 3.0736 10.0104 3.02156 9.95837C2.96952 9.90634 2.92824 9.84456 2.90008 9.77657C2.87192 9.70858 2.85742 9.6357 2.85742 9.56211C2.85742 9.48852 2.87192 9.41564 2.90008 9.34765C2.92824 9.27966 2.96952 9.21788 3.02156 9.16585C3.0736 9.11381 3.13538 9.07253 3.20337 9.04437Z" fill="#3366FF"/>
                        <path d="M4.83485 9.48473C4.90491 9.41467 4.99994 9.37531 5.09903 9.37531C5.19811 9.37531 5.29314 9.41467 5.3632 9.48473C5.43327 9.5548 5.47263 9.64983 5.47263 9.74891C5.47263 9.848 5.43327 9.94302 5.3632 10.0131C5.29314 10.0831 5.19811 10.1225 5.09903 10.1225C4.99994 10.1225 4.90491 10.0831 4.83485 10.0131C4.76479 9.94302 4.72543 9.848 4.72543 9.74891C4.72543 9.64983 4.76479 9.5548 4.83485 9.48473Z" fill="#3366FF"/>
                        <path d="M4.25179 11.1433C4.42695 10.9681 4.66451 10.8697 4.91223 10.8697C5.15994 10.8697 5.39751 10.9681 5.57266 11.1433C5.74782 11.3184 5.84623 11.556 5.84623 11.8037C5.84623 12.0514 5.74782 12.289 5.57266 12.4642C5.39751 12.6393 5.15994 12.7377 4.91223 12.7377C4.66451 12.7377 4.42695 12.6393 4.25179 12.4642C4.07663 12.289 3.97822 12.0514 3.97822 11.8037C3.97822 11.556 4.07663 11.3184 4.25179 11.1433Z" fill="#3366FF"/>
                    </svg>
                    Tozalash
                </button>
                
                <button class="btn btn-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M2 12C2 12 5.63636 4.72729 12 4.72729C18.3636 4.72729 22 12 22 12C22 12 18.3636 19.2727 12 19.2727C5.63636 19.2727 2 12 2 12Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M11.9997 14.7273C13.506 14.7273 14.727 13.5063 14.727 12C14.727 10.4938 13.506 9.27277 11.9997 9.27277C10.4935 9.27277 9.27246 10.4938 9.27246 12C9.27246 13.5063 10.4935 14.7273 11.9997 14.7273Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    Natijalarni ko‘rish
                </button>
            </div>
        </div>
    </div>
    
    <script src="../form/dropdown/dropdown.js"></script>
</body>
</html>