.board {
    background:#fefefee4;
}

.board-inner {
    padding: 24px 0;
    display: flex;
    align-items: center;
    gap: 194px;
}



.board-actions {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 427px;
    width: 100%;
}

.filter-wrapper {
    max-width: 123px;
    width: 100%;
}

/* CARDS SECTION STYLES */

.cards {
    padding: 0;
    margin: 0;
    padding: 48px 0 28px;
    background: #F5F5F7;
}

.graphs {
    margin-bottom: 50px;
}

.graphs-inner {
    background-color: #fff;
    border-radius: 8px ;
    padding: 20px;
    min-height: 402px;
    cursor: pointer;
}

.graph-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
}

@media screen and (max-width:998px) {
    .board-actions {
        display: flex;
        align-items: center;
        gap: 10px;
        max-width: 400px;
        width: 100%;
    }

    .board-inner {
        gap: 100px;
    }

}

@media screen and (max-width:821px) {


    .board-inner {
        gap: 60px;
    }

}

@media screen and (max-width:821px) {

    .board-inner {
        gap: 40px;
    }

}

@media screen and (max-width:578px) {

    .board-inner {
        gap: 30px;
    }

    .graph-title {
        font-size: 20px;
    }

}

@media screen and (max-width:412px) {

    .board-inner {
        gap: 20px;
    }

    .board-actions {
        gap: 6px;
    }

    .graph-title {
        font-size: 18px;
    }
}