.search {
    position: relative;
    padding-right: 10px;
    display: flex;
    align-items: center;
    width: 284px;
}

input {
    outline: none;
    border: 1px solid transparent;
    cursor: pointer;
}

.search-input {
    border-radius: 5px;
    background: #E8E8E8;
    padding: 10px 0;
    padding-left: 38px;
    display: flex;
    align-items: center;
    width: 100%;
}

.search-input::placeholder {
    color: #B1B1B8;
    font-size: 15px;
    font-weight: 400;
}

.search svg {
    position: absolute;
    top: 9px;
    left: 10px;
}

.input-wrppaer {
    margin: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.name-box {
    display: flex;
    flex-direction: column;
}

.input {
    margin-top: 8px;
    padding: 12px 16px;
    width: 100%;
    border-radius: 6px;
    border: 1px solid #E0E7FF;
    background: rgba(224, 231, 255, 0.20);
}

label {
    color: #1D1D1F;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1.125px;
    text-transform: uppercase;
}

.date {
    max-width: 253px;
    width: 100%;
}
