<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input</title>
    <link rel="stylesheet" href="../input/input.css">
    <link rel="stylesheet" href="../../../css/main.css">
</head>
<body>
    
   <div class="input-wrppaer">
    <div class="search">
        <input class="search-input" type="search" placeholder="Izlash">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
            <g clip-path="url(#clip0_120_1388)">
            <path d="M8.33333 14.1667C11.555 14.1667 14.1667 11.555 14.1667 8.33333C14.1667 5.11167 11.555 2.5 8.33333 2.5C5.11167 2.5 2.5 5.11167 2.5 8.33333C2.5 11.555 5.11167 14.1667 8.33333 14.1667Z" stroke="#B1B1B8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M17.5 17.5L12.5 12.5" stroke="#B1B1B8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </g>
            <defs>
            <clipPath id="clip0_120_1388">
            <rect width="20" height="20" fill="white"/>
            </clipPath>
            </defs>
            </svg>
    </div>

    <div class="name-box">
        <label for="name">
            F.I.Sh. (Familiya Ism Sharif)
            <input class="input"
            type="text" 
            name="name" 
            id="name" 
            placeholder="Abdullayev Abdulla Abdulla o’g’li"
            autocomplete="off">
        </label>
    </div>

    <div class="name-box">
        <label for="tel">
            Telefon raqam
            <input class="input"
            type="tel" 
            name="tel" 
            id="tel" 
            placeholder="+998 00 000-00-00"
            autocomplete="off">
        </label>
    </div> 

    <div class="name-box">
        <label for="university">
            OTM
            <input class="input"
            type="text" 
            name="university" 
            id="universiteti" 
            placeholder="O’zbekiston davlat jahon tillari universiteti"
            autocomplete="off">
        </label>
    </div> 

    <div class="name-box">
        <label for="type">
            Talabalik turi
            <input class="input"
            type="text" 
            name="type" 
            id="type" 
            placeholder="Bakalavr"
            autocomplete="off">
        </label>
    </div> 

    <div class="name-box">
        <label for="amount">
            Kontrakt summa
            <input class="input"
            type="number" 
            name="amount" 
            id="amount" 
            placeholder="Bakalavr"
            autocomplete="Summani kiriting">
        </label>
    </div>

    <div class="name-box">
        <label for="box">
            Homiylik summasi
        </label>
        <div class="input-checkbox-wrap">
            <input type="checkbox">
            <input type="checkbox">
            <input type="checkbox">
        </div>
    </div>

    <div class="name-box date">
        <label for="date">
            Sana
        <input id="date" name="date" type="date" class="input">
        </label>
    </div>
   </div>
</body>
</html>