<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tab</title>
    <link rel="stylesheet" href="./tab.css">
    <link rel="stylesheet" href="../../css/main.css">
</head>
<body>
    <div class="tab">
        <ul class="tab-list">
            <li class="tab-item">
                <a href="../../pages/dashboard/dashboard.html" class="tab-link dashboard">
                    Dashboard
                </a>
            </li>
            <li class="tab-item">
                <a href="../../pages/homiylar/homiylar.html" class="tab-link homiylar">
                    Homiylar
                </a>
            </li>
            <li class="tab-item">
                <a href="../../pages/talabalar/talabalar.html" class="tab-link talabalar">
                    Talabalar
                </a>
            </li>
        </ul>
    </div>

    <div class="tab">
        <ul class="tab-list">
            <li class="tab-item">
                <a href="">
                    JISMONIY SHAXS
                </a>
            </li>
            <li class="tab-item">
                <a href="">
                    YURIDIK SHAXS
                </a>
            </li>
        </ul>
    </div>
    
     <script src="./tab.js"></script>
</body>
</html>