.tab-list {
    display: flex;
    align-items: center;
    margin: 0;
    width: 579px;
    border-radius: 6px;
    border: 2px solid #E0E7FF;
    background: #FFF;
}

.tab-item {
    max-width: 193px;
    padding: 9px 0;
    width: 100%;
    text-align: center;
    position: relative;
    margin: 0;
    transition: all 0.3s;

}

.tab-link {
    color: rgba(51, 102, 255, 0.60);
    font-size: 12px;;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 1.125px;
    text-transform: uppercase;
    margin: 0;
    transition: all 0.3s;
}

.tab-item:nth-child(2)::before {
    position: absolute;
    width: 2px;
    height: 40px;
    flex-shrink: 0;
    background: #DDE3FB;
    content: "";
    top: -1px;
    left: 0px;
}

.tab-item:nth-child(2)::after {
    position: absolute;
    width: 2px;
    height: 40px;
    flex-shrink: 0;
    background: #DDE3FB;
    content: "";
    top: -1px;
    right: 0px;
}

.tab-item.active {
    border-radius: 6px 0px 0px 6px;
    background: #36F;
}

.tab-item:nth-child(3).active {
    border-radius: 0px 6px 6px 0;
}

.tab-link.active {
    color: #FFF;
}